/* mulish-regular - cyrillic_latin */
@font-face {
    font-display: fallback;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mulish-v13-cyrillic_latin-regular.woff2) format('woff2');
}

/* mulish-500 - cyrillic_latin */
@font-face {
    font-display: fallback;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/mulish-v13-cyrillic_latin-500.woff2) format('woff2');
}

/* mulish-600 - cyrillic_latin */
@font-face {
    font-display: fallback;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mulish-v13-cyrillic_latin-600.woff2) format('woff2');
}

/* material-symbols-outlined-regular - latin */
@font-face {
    font-display: block;
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-symbols-outlined-v195-latin-regular.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}