{% for name, category in categories.items() %}
    {% if category.plugins %}

        <div class="section">

            <div id="{{ category.name }}" class="scrollspy col s12 plugins_category">
                <div class="container">
                    <a class="category_name" href="#{{ category.name }}">{{ category.name }}</a>
                    <div class="category_description">{{ category.description }}</div>
                </div>
            </div>

            <div class="container">
                <div class="row g-0 plugins_container grid">
                    {% for item in category.plugins %}
                        {% set unique_id = item['unique_id'] or [item['id'], item['author']]|join('-by-') %}


                        <div id="{{ unique_id }}" class="scrollspy grid-item s12 m6 xl4">
                            <div class="card-panel card-plugin">
                                <div class="header">
                                    <div class="icon" title="{{ item.id }}">
                                        {% if item.icon or item.icon64 %}
                                            <img loading="lazy" class="lazyload" data-src="{{ item.icon64 or item.icon }}">
                                        {% else %}
                                            <img loading="lazy" class="lazyload" data-src="img/plugin.png">
                                        {% endif %}
                                    </div>

                                    <div class="title">
                                        <div class="plugin-name"><a title="{{ item.name }}" href="#{{ unique_id }}"><span>{{ item.name }}</span></a></div>
                                        {% if item.author %}<span class="plugin-author">by&nbsp;{{ item.author }}</span>{% endif %}
                                    </div>
                                </div>

                                <div class="content">
                                    <p class="plugin-description">{{ item.description }}</p>
                                </div>
                                <div class="buttons">
                                    <a class="btn lite plugin-info clickable waves-effect modal-trigger" href="#modal_info" onclick="init_custom_modal('{{ unique_id }}', 'modal_info_content', this.parentNode.parentNode.parentNode, '{{ plugin_comments_url }}')">
                                        info &nbsp;<span class="comments_counter"><span class="material-symbols-outlined icon">comment</span> <span class="remark42__counter" data-url="{{ plugin_comments_url }}"></span></span>
                                    </a>

                                    <div class="spacer"></div>

                                    {% if build_type == "core" %}
                                        <a class="btn trim-right plugin-install clickable waves-effect" {% if item.release_version %}href="/build/release/plugins/{{ item.filename }}" title="Install release v{{ item.release_version }}"{% endif %}>install</a>
                                        <a class="dropdown-trigger btn trim-left small" href="#" data-target="plugin-dropdown-{{ unique_id }}">
                                            <span class="material-symbols-outlined">arrow_drop_down</span>
                                        </a>
                                        <ul id='plugin-dropdown-{{ unique_id }}' class='dropdown-content'>
                                            {% if item.release_version %}
                                                <li>
                                                    <a class="plugin-install clickable release waves-effect" href="/build/release/plugins/{{ item.filename }}">Install release v{{ item.release_version }}</a>
                                                </a>
                                            {% endif %}
                                            {% if item.beta_version %}
                                                <li>
                                                    <a class="plugin-install clickable beta waves-effect" href="/build/beta/plugins/{{ item.filename }}">Install beta v{{ item.beta_version }}</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% else %}
                                        <a class="btn plugin-install clickable waves-effect" href="{{ item.downloadURL }}" title="Install plugin">install</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div id="{{ unique_id }}_info" style="display: none">
                            <h4>{{ item.name }}</h4>
                            {% if item.author %}<h5>by&nbsp;{{ item.author }}</h5>{% endif %}
                            {% if item.image %}<div class="plugin_image"><a href="{{ item.image }}" target="_blank" title="Click the image to open in full size"><img loading="lazy" class="lazyload" data-src="1{{ item.image }}" src="data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7"></a></div>{% endif %}

                            <div class="hr"></div>
                            <p>{{ item.description }}</p>
                            <div class="hr"></div>

                            <table class="striped">
                                <tbody>
                            {% for key in ['category', 'release_version', 'beta_version', 'updateURL', 'downloadURL', 'supportURL', 'namespace'] %}
                                {% if item[key] %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>
                                            {% if key in ['updateURL', 'downloadURL', 'supportURL'] and item[key].startswith('http') %}
                                                <a href="{{ item[key] }}" title="{{ key }}">{{ item[key] }}</a>
                                            {% else %}
                                                {{ item[key] }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}</tbody>
                            </table>
                            <div class="hr"></div>
                        </div>

                    {% endfor %}
                </div>
            </div>

        </div>

    {% endif %}
{% endfor %}
