{% for name, category in categories.items() %}
    {% if category.plugins %}

        <div class="section">

            <div id="{{ category.name+'_'+build_type }}" class="scrollspy col s12 plugins_category">
                <div class="container">
                    <a class="category_name" href="#{{ category.name+'_'+build_type }}">{{ category.name }}</a>
                    <div class="category_description">{{ category.description }}</div>
                </div>
            </div>

            <div class="container">
                <div class="row plugins_container grid">
                    {% for item in category.plugins %}

                        <div id="{{ item.unique_id+'_'+build_type }}" class="scrollspy grid-item">
                            <div class="card-plugin">
                                <div class="card-header">
                                    <div class="card-icon">
                                        {% if item.icon %}
                                            <img loading="lazy" class="lazyload" data-src="{{ item.icon }}">
                                        {% else %}
                                            <i class="material-icons">extension</i>
                                        {% endif %}
                                    </div>

                                    <div class="card-title">
                                        <div class="card-title-wrapper">
                                            <div class="card-plugin-name" title="{{ item.name }}"><a title="{{ item.id }}" href="#{{ item.unique_id+'_'+build_type }}"><span>{{ item.name }}</span></a></div>
                                       <!-- {% if item.author %}<small class="card-plugin-meta card-plugin-author">by&nbsp;<a href="#{{ item.author }}">{{ item.author }}</a></small>{% endif %}-->
                                            {% if item.author %}<small class="card-plugin-meta card-plugin-author">by&nbsp;{{ item.author }}</small>{% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="card-content">
                                    <p class="card-plugin-description">{{ item.description }}</p>
                                </div>
                                <div class="card-buttons">
                                    <div class="card-buttons-shadow">
                                        {% if build_type == "store" %}
                                            {% set plugin_comments_url = "https://iitc.modos189.ru/store.html?plugin="+item.unique_id %}
                                        {% else %}
                                            {% set plugin_comments_url = "https://iitc.modos189.ru/download_desktop.html?plugin="+item.unique_id+"_"+build_type %}
                                        {% endif %}
                                        <a class="card-plugin-info waves-effect modal-trigger" href="#modal_info" onclick="init_custom_modal('{{ item.unique_id }}', 'modal_info_content', this.parentNode.parentNode.parentNode, '{{ plugin_comments_url }}')">Info<span class="comments_counter">&nbsp;(<span class="remark42__counter" data-url="{{ plugin_comments_url }}"></span>&nbsp;comments)</span></a>
                                        <a class="card-plugin-install waves-effect waves-light" target="_blank" href="/build/{{ build_type }}/plugins/{{ item.filename }}" {% if item.version %}title="Install v{{ item.version }}"{% endif %}>Install</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="{{ item.unique_id }}_info" style="display: none">
                            <h4>{{ item.name }}</h4>
                            {% if item.author %}<h5>by&nbsp;{{ item.author }}</h5>{% endif %}
                            {% if item.image %}<div class="plugin_image"><a href="{{ item.image }}" target="_blank" title="Click the image to open in full size"><img loading="lazy" class="lazyload" data-src="1{{ item.image }}" src="data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7"></a></div>{% endif %}

                            <div class="hr"></div>
                            <p>{{ item.description }}</p>
                            <div class="hr"></div>

                            <table class="striped">
                                <tbody>
                            {% for key in ['category', 'version', 'updateURL', 'downloadURL', 'supportURL', 'namespace'] %}
                                {% if item[key] %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>
                                            {% if key in ['updateURL', 'downloadURL', 'supportURL'] and item[key].startswith('http') %}
                                                <a href="{{ item[key] }}" title="{{ key }}">{{ item[key] }}</a>
                                            {% else %}
                                                {{ item[key] }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}</tbody>
                            </table>
                            <div class="hr"></div>
                        </div>

                    {% endfor %}
                </div>
            </div>

        </div>

    {% endif %}
{% endfor %}