{% for name, category in categories.items() %}
    {% if category.plugins %}

        <div class="section">

            <div id="{{ category.name }}" class="scrollspy col s12 plugins_category">
                <div class="container">
                    <a class="category_name" href="#{{ category.name }}">{{ category.name }}</a>
                    <div class="category_description">{{ category.description }}</div>
                </div>
            </div>

            <div class="container">
                <div class="row g-0 plugins_container grid">
                    {% for item in category.plugins %}
                        {% set id_hash = item['id_hash'] or [item['id'], item['author']]|join('-by-') %}


                        <div id="{{ id_hash }}" class="scrollspy grid-item s12 m6 xl4">
                            <div class="card-panel card-plugin">
                                <div class="header">
                                    <div class="icon" title="{{ item.id }}">
                                        {% if item.icon or item.icon64 %}
                                            <img loading="lazy" class="lazyload" data-src="{{ item.icon64 or item.icon }}">
                                        {% else %}
                                            <img loading="lazy" class="lazyload" data-src="img/plugin.png">
                                        {% endif %}
                                    </div>

                                    <div class="title-author">
                                        <div class="plugin-name"><a title="{{ item.name }}" href="#{{ id_hash }}" class="title"><span>{{ item.name }}</span></a></div>
                                        {% if item.author %}<span class="plugin-author">by&nbsp;{{ item.author }}</span>{% endif %}
                                    </div>
                                </div>

                                <div class="content">
                                    <p class="plugin-description">{{ item.description }}</p>
                                </div>
                                <div class="buttons">
                                    <a class="btn lite plugin-info clickable waves-effect modal-trigger" href="#modal_info" onclick="init_custom_modal('{{ id_hash }}', 'modal_info_content', this.parentNode.parentNode.parentNode, '{{ plugin_comments_url }}'); return false">
                                        info &nbsp;<span class="comments_counter"><span class="material-symbols-outlined icon">comment</span> <span class="remark42__counter" data-url="{{ plugin_comments_url }}"></span></span>
                                    </a>

                                    <div class="spacer"></div>

                                    {% if build_type == "core" %}
                                        <a class="btn trim-right plugin-install clickable waves-effect" {% if item.release_version %}href="/build/release/plugins/{{ item.filename }}" title="Install release v{{ item.release_version }}"{% endif %}>install</a>
                                        <a class="dropdown-trigger btn trim-left small" href="#" data-target="plugin-dropdown-{{ id_hash }}">
                                            <span class="material-symbols-outlined">arrow_drop_down</span>
                                        </a>
                                        <ul id='plugin-dropdown-{{ id_hash }}' class='dropdown-content'>
                                            {% if item.release_version %}
                                                <li>
                                                    <a class="plugin-install clickable release waves-effect" href="/build/release/plugins/{{ item.filename }}">Install release v{{ item.release_version }}</a>
                                                </a>
                                            {% endif %}
                                            {% if item.beta_version %}
                                                <li>
                                                    <a class="plugin-install clickable beta waves-effect" href="/build/beta/plugins/{{ item.filename }}">Install beta v{{ item.beta_version }}</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% else %}
                                        <a class="btn plugin-install clickable waves-effect" href="{{ item.downloadURL }}" title="Install plugin">install</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div
                                id="{{ id_hash }}_info"
                                style="display: none"
                                {% if build_type == "core" %}
                                    {% if item.release_version %}
                                        data-download-release="/build/release/plugins/{{ item.filename }}"
                                    {% endif %}
                                    {% if item.beta_version %}
                                        data-download-beta="/build/beta/plugins/{{ item.filename }}"
                                    {% endif %}
                                {% else %}
                                    data-download="{{ item.downloadURL }}"
                                {% endif %}
                                {% if item.homepageURL %}
                                    data-homepage="{{ item.homepageURL }}"
                                {% endif %}
                                {% if item.issueTracker %}
                                    data-issue-tracker="{{ item.issueTracker }}"
                                {% endif %}
                        >
                            <div class="header">
                                <div class="icon" title="{{ item.id }}">
                                    {% if item.icon or item.icon64 %}
                                        <img loading="lazy" class="lazyload" data-src="{{ item.icon64 or item.icon }}">
                                    {% else %}
                                        <img loading="lazy" class="lazyload" data-src="img/plugin.png">
                                    {% endif %}
                                </div>

                                <div class="title-author">
                                    <div class="plugin-name"><div class="title"><span>{{ item.name }}</span></div></div>
                                    {% if item.author %}<span class="plugin-author">by&nbsp;{{ item.author }}</span>{% endif %}
                                </div>
                            </div>

                            <div class="content">
                                <p class="plugin-description">{{ item.description }}</p>

                                {% if item.antiFeatures %}
                                    <div class="hr"></div>
                                    <div class="meta antiFeatures">
                                        <h5>Anti-Features</h5>
                                        <p>This plugin has features you may not like. <a href="https://github.com/modos189/Community-plugins/blob/master/CONTRIBUTING.md#anti-features" target="_blank">Learn more!</a></p>
                                        {% for el in item.antiFeatures %}
                                            <p><strong>{{ el }}</strong> –
                                            {% if el == "scraper" %}
                                                The plugin makes additional requests for more information than is explicitly requested by the user. For example, it infects full information about portals that the user has not clicked on.
                                            {% endif %}
                                            {% if el == "highLoad" %}
                                                The plugin makes many more requests than the usual Intel/IITC use.
                                            {% endif %}
                                            {% if el == "export" %}
                                                The plugin allows you to export Niantic data (excluding debugging purposes).
                                            {% endif %}
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% if item.depends %}
                                    <div class="hr"></div>
                                    <div class="meta depends">
                                        <h5>Depends</h5>
                                        <p>This plugin requires the installation of another plugin.</p>
                                        {% with deps=item._depends_links %}
                                            {% include '_deps_badges.html' %}
                                        {% endwith %}
                                    </div>
                                {% endif %}

                                {% if item.recommends %}
                                    <div class="hr"></div>
                                    <div class="meta recommends">
                                        <h5>Recommends</h5>
                                        <p>This plugin recommends installing other plugins to extend functionality.</p>
                                        {% with deps=item._recommends_links %}
                                            {% include '_deps_badges.html' %}
                                        {% endwith %}
                                    </div>
                                {% endif %}
                            </div>

                            {% if item.preview %}
                                <div class="plugin_image">
                                    <a href="{{ item.preview }}" target="_blank" title="Click the image to open in full size">
                                        <img loading="lazy" class="lazyload" data-src="{{ item.preview }}" src="data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7">
                                    </a>
                                </div>
                            {% endif %}

                            <div class="hr"></div>

                            <ul class="plugin_metadata">
                                <li>
                                    <span class="key">unique_id:</span>
                                    <span class="badge">
                                        {% if build_type == "core" %}
                                            {{ [item['id'], item['author']]|join('@') }}
                                        {% else %}
                                            {{ item['id'] }}
                                        {% endif %}
                                    </span>
                                </li>
                                {% for key in ['category', 'release_version', 'beta_version', 'version', 'updatedAt'] %}
                                    {% if item[key] %}
                                        <li>
                                            <span class="key">{{ key }}:</span>
                                            <span class="badge">
                                                {% if key == "updatedAt" %}
                                                    {{ item[key].replace('T', ' ').replace('Z', '') }}
                                                {% else %}
                                                    {{ item[key] }}
                                                {% endif %}
                                            </span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% for key in ['match', 'include', 'grant'] %}
                                    {% if item[key] %}
                                        <li>
                                            <span class="key">{{ key }}:</span>
                                            {% for val in item[key] %}
                                                <span class="badge">{{ val }}</span>
                                            {% endfor %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="hr"></div>
                        </div>

                    {% endfor %}
                </div>
            </div>

        </div>

    {% endif %}
{% endfor %}
