<div id="modal_info" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div id="modal_info_content" class="card-plugin"></div>
        <div id="remark42"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-close homepage-plugin waves-effect btn-flat left" target="_blank" style="display: none">Homepage</a>
        <a href="#" class="modal-close issue-tracker-plugin waves-effect btn-flat left" target="_blank" style="display: none">Issue tracker</a>

        <a href="#" class="modal-close install-plugin waves-effect btn-flat" style="display: none">Install</a>
        <a href="#" class="modal-close install-plugin-release waves-effect btn-flat" style="display: none">Install release</a>
        <a href="#" class="modal-close install-plugin-beta waves-effect btn-flat" style="display: none">Install beta</a>
    </div>
</div>