{% extends "__base__.html" %}
{% block title %}Donate — IITC-CE{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section section-donate">
                    <h2 class="hover">Donate</h2>
                    <p>
                        IITC-CE are open-source projects and rely on the contributions of its community to keep it running.<br>
                        If you are finding the tool useful and would like to help keep it running, please consider making a donation to support the project.<br>
                        Your contributions will help pay for the domain and server costs.
                    </p>

                    <h5>Online payments:</h5>
                    <div class="dotate-block dotate-block__several">
                        <a href="https://t.me/iitc_news/39" target="_blank" class="btn telegram waves-effect waves-light">Telegram</a>
                        <a href="https://yoomoney.ru/to/410011752911192/256" target="_blank" class="btn yoomoney waves-effect waves-light">ЮMoney</a>
                    </div>

                    <h5>Cryptocurrency:</h5>
                    <div class="dotate-block dotate-block__many">
                        <div class="donation-item">
                            <p class="item-name">Bitcoin (BTC)</p>
                            <div class="item-block">
                                <div class="item-value">
                                    <div class="item-code">
                                        <span>1FVqL2bUaw8J2rx6JDsHuj9643BDMHUCGf</span>
                                    </div>
                                    <div class="item-buttons">
                                        <i class="svg-icon content-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="donation-item">
                            <p class="item-name">Ethereum (ETH)</p>
                            <div class="item-block">
                                <div class="item-value">
                                    <div class="item-code">
                                        <span>0xdFccE0EC2081cEaf77b9731329F1B2620801595d</span>
                                    </div>
                                    <div class="item-buttons">
                                        <i class="svg-icon content-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="donation-item">
                            <p class="item-name">Binance Coin (BNB Network)</p>
                            <div class="item-block">
                                <div class="item-value">
                                    <div class="item-code">
                                        <span>bnb1csph3h6tswzyxm8wvgmlk4tlf69rp254x7pw0n</span>
                                    </div>
                                    <div class="item-buttons">
                                        <i class="svg-icon content-copy"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
