{% extends "__base__.html" %}
{% block title %}Donate — Ingress Intel Total Conversion{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h2 class="hover">Donate</h2>
                    <p>You can help IITC-CE development by making a monthly pledge through Liberapay or send a one-time donation through Paypal, Yandex.Money or cryptocurrency.</p>
                    <p>Make donation via <a class="emphase" href="https://paypal.me/iitcce" target="_blank"><img src="img/icons/paypal.png" alt="icon" class="favicon">PayPal</a> or <a class="emphase" href="https://money.yandex.ru/to/410011752911192/256" target="_blank"><img src="img/icons/yandex.png" alt="icon" class="favicon">Yandex.Money</a></p>
                    <p>Set up regular donations at <a class="emphase" href="https://liberapay.com/IITC-CE/donate" target="_blank"><img src="img/icons/liberapay.png" alt="icon" class="favicon">liberapay.com</a></p>
                    <p>Cryptocurrency:<br>
                        Bitcoin <a href="https://blockchair.com/bitcoin/address/1FVqL2bUaw8J2rx6JDsHuj9643BDMHUCGf" target="_blank"><code class="emphase">1FVqL2bUaw8J2rx6JDsHuj9643BDMHUCGf</code></a><br>
                        Ethereum <a href="https://etherscan.io/address/0xdFccE0EC2081cEaf77b9731329F1B2620801595d" target="_blank"><code class="emphase">0xdFccE0EC2081cEaf77b9731329F1B2620801595d</code></a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
