{% extends "__base__.html" %}
{% block title %}Desktop — IITC-CE{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h2 id="iitc-button">IITC Button browser add-on</h2>
                    <p>IITC Button make it easier to install IITC and manage plugins. Now, to install a new plugin, simply select it from the list.</p>
                    <a href="img/iitc-button.avif" target="_blank"><img class="iitc-button-image" src="img/iitc-button.avif" alt="IITC Button addon"></a>
                    <h5>Get it on <a href="https://addons.mozilla.org/firefox/addon/iitc-button" target="_blank">Firefox Add-ons</a> and <a href="https://chrome.google.com/webstore/detail/iitc-button/febaefghpimpenpigafpolgljcfkeakn" target="_blank">Chrome Web Store</a>.</h5>
                </div>
                <div class="section">
                    <h5>— or —</h5>
                </div>
                <div class="section">
                    <h2 class="top_zero">IITC UserScript</h2>
                    <h4>Requirements</h4>
                    <p>IITC requires a userscript manager. It can be either <a href="#iitc-button">IITC Button</a> or one of traditional userscript managers. For example:</p>

                    <p><strong>Tampermonkey</strong> <i>(proprietary)</i> is the most popular userscript manager. It's available for <a href="https://chrome.google.com/webstore/detail/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Chrome</a>, <a href="https://www.microsoft.com/store/apps/9NBLGGH5162S" target="_blank">Microsoft Edge</a>, <a href="https://apps.apple.com/app/tampermonkey/id1482490089" target="_blank">Safari</a>, <a href="https://addons.opera.com/extensions/details/tampermonkey-beta/" target="_blank">Opera</a>, and <a href="https://addons.mozilla.org/firefox/addon/tampermonkey/" target="_blank">Firefox</a>.</p>
                    <p><strong>Greasemonkey</strong> <i>(MIT License)</i> is a userscript manager made available as a <a href="https://addons.mozilla.org/ru/firefox/addon/greasemonkey/" target="_blank">Mozilla Firefox</a> extension.</p>
                    <p><strong>Violentmonkey</strong> <i>(MIT License)</i> provides userscripts support for <a href="https://chrome.google.com/webstore/detail/violent-monkey/jinjaccalgkegednnccohejagnlnfdag" target="_blank">Chrome</a>, <a href="https://addons.mozilla.org/firefox/addon/violentmonkey/" target="_blank">Firefox</a> and <a href="https://violentmonkey.github.io/get-it/" target="_blank">Opera</a>.</p>

                    <p>If you are using a different browser, see your browser documentation for details on installing userscripts.<br>For Android/iOS, please see the <a href="download_mobile.html">mobile</a> page.</p>
                </div>
                <div class="section">
                    <h4>Useful links</h4>
                    <p>IITC core and all plugins in one .zip file:
                        <a href="/build/release/{{ all_in_one_zip_file.release }}">release</a>,
                        <a href="/build/beta/{{ all_in_one_zip_file.beta }}">beta</a>
                    </p>
                    <p>Archive of previous builds:
                        <a href="/build/release_archive/">release</a>,
                        <a href="/build/beta_archive/">beta</a>
                    </p>
                </div>
                <div class="section">
                    <h4>Download IITC core</h4>
                    <div class="row">
                        <div class="col s12 m6 p-0">
                            <div class="card-panel release">
                                <h5>Release channel</h5>
                                <p>This is most tested version, but may not contain new features or fixes. If you are not sure otherwise, this version is the most suitable for you.</p>

                                <a class="btn waves-effect waves-light" href="/build/release/total-conversion-build.user.js">install release version</a>
                                <p>v{{ release_iitc_version }}</p>
                            </div>
                        </div>
                        <div class="col s12 m6 p-0">
                            <div class="card-panel beta">
                                <h5>Beta channel</h5>
                                <p>Contains new features and fixes that are not yet in Release. But may contain more bugs. Use the Beta version and help with testing if you are a long-time IITC user.</p>

                                <a class="btn waves-effect waves-light" href="/build/beta/total-conversion-build.user.js">install beta version</a>
                                <p>v{{ beta_iitc_version }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h4>Download IITC plugins</h4>
                    <p>Plugins extend/modify the IITC experience. You do not need to install all plugins. Some are only useful to a minority of users.</p>
                </div>
            </div>
        </div>
    </div>

    {% with %}
    {% set build_type="core" %}
    {% include '_plugins_table.html' %}
    {% endwith %}

    {% include '_plugin_modal.html' %}

{% endblock %}
