{% extends "__base__.html" %}
{% block title %}Mobile — Ingress Intel Total Conversion{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h2 class="hover">IITC Mobile</h2>
                    <p>IITC Mobile is an Android application. It works as a simple web browser, with the IITC browser add-on embedded within it.</p>
                    <h5>Requirements</h5>
                    <p>Android 4.0 (Ice Cream Sandwich) at a minimum. Android 4.1+ (Jellybean) is highly recommended at this time due to bugs.</p>
                    <h5>Installation</h5>
                    <p>You need to enable applications installed from unknown sources in your phone settings. Once done, download and install from the link below.</p>
                    <h5>Download from <a href="https://play.google.com/store/apps/details?id=org.exarhteam.iitc_mobile" target="_blank">Google Play</a></h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}