{% extends "__base__.html" %}
{% block title %}Release notes — IITC-CE{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <h2 class="hover">Release notes</h2>
                </div>
                {% for item in release_notes|reverse %}
                <div class="section">
                    <h5 class="changelog-header">{{ item.name }}</h5><small>{{ item.date }}</small>
                    <div class="changelog-body">{{ item.body }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}