{% extends "__base__.html" %}
{% block title %}Desktop — Ingress Intel Total Conversion{% endblock %}
{% block content %}

    <div class="container">
    <div class="row">
    <div class="col s12">
        <div class="section">
            <h2 class="hover">Test Builds</h2>
            <p>These test builds are made available for those who would like to try the latest development code without needing to build it yourself. Automated scripts should update these builds within an hour of a change being <a href="https://github.com/IITC-CE/ingress-intel-total-conversion/commits/master" target="_blank">committed</a> to Github. </p>

            <div class="card-panel red lighten-5">
                <span class="">Test builds are built automatically. They could be broken at any time. If you have any doubts about using unstable software, please use the standard <a href="download_desktop.html">desktop</a> or <a href="download_mobile.html">mobile</a> builds.</span>
            </div>

            <div class="section">
                <h5>Mobile test build</h5>
                <div class="card-panel teal lighten-5">
                    <span class="">Note: Test builds have recently been changed so they can be installed alongside the standard IITC builds. Test builds will be called "IITC Mobile Test" - while the regular release builds remain named "IITC Mobile"</span>
                </div>
                <p>IITC Mobile version  {{ test_iitc_version }}</p>
                <a class="btn" href="/build/test/IITC_Mobile-debug.apk">Download</a>
            </div>

            <div class="section">
                <h5>Desktop test build</h5>
                <p>IITC Mobile version  {{ test_iitc_version }}</p>
                <a class="btn" href="/build/test/total-conversion-build.user.js">Download</a>
            </div>
        </div>
        <div class="section">
            <h6>Plugins</h6>
            <p>Plugins extend/modify the IITC experience. You do not need to install all plugins. Some are only useful to a minority of users.</p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>Version</th>
                        <th>Download</th>
                    </tr>
                </thead>

                <tbody>
                {% for name, category in test_plugins.items() %}
                    <tr class="category_header">
                        <td class="category_name">{{ name }}</td>
                        <td colspan="3">{{ category.desc }}</td>
                    </tr>
                    {% for item in category.plugins %}
                        <tr style="border-bottom: none;" class="plugins_info">
                            <td><strong>{{ item.name }}</strong></td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.version }}</td>
                            <td rowspan="2"><a class="btn btn-floating btn-large" href="/build/test/plugins/{{ item.filename }}"><i class="material-icons">file_download</i></a></td>
                        </tr>
                        <tr class="plugins_info">
                            <td colspan="3" class="plugin_desc">{{ item.desc }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
    </div>
    </div>

{% endblock %}