.plugins_category {
    margin-bottom: 1rem;
}

.plugins_category .category_name, .plugins_category .category_description {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 12px;
}

.plugins_category .category_name {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-main);
}

.plugins_category .category_description {
    display: inline;
    color: var(--secondary-higher);
}

.plugins_container .col {
    padding: 0;
}

.plugins_container {
    padding: 0 .75rem;
}
