/* plugins category modal */
.modal .modal-content {
    background: var(--primary-higher);
}

.modal .card-plugin {
    flex-direction: column;
    border: none;
    height: auto;
    overflow: auto;
}

.modal .plugin_image {
    text-align: center;
    margin-top: 1.5em;
}

.modal .plugin_image a {
    display: block;
    padding: 1rem;
    background: var(--primary-lower);
    line-height: 0;
}

.modal .plugin_image img {
    max-height: 30vh;
}

.modal .card-plugin .content p {
    max-height: none;
    margin: 1.5rem 0 0 0;
}

.modal .meta h5 {
    font-size: 1.2rem;
}

.modal .card-plugin .content .meta p {
    margin: 1rem 0 0 0;
}

.modal .meta .badge {
    display: inline-block;
    margin-top: 0.5rem;
    min-width: 3rem;
    padding: 0 11px;
    margin-left: 0;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: initial;
    height: 1.5rem;
    float: none;
    box-sizing: border-box;
    font-weight: 300;
    color: var(--secondary-main);
    background-color: var(--primary-lower);
    border-radius: 2px;
}

.modal .meta a.badge {
    color: #FFFFFF;
    background-color: var(--accent-main);
}

.modal .modal-footer {
    margin-bottom: 5px;
}