.card-plugin {
    display: flex;
    height: 19rem;
    overflow: hidden;
    border: 1px solid var(--primary-higher);
    margin: 0;
    transition: border-color .25s;
}

.grid-item:target .card-plugin {
    border: 1px solid #1e8cb7;
}

.card-plugin .buttons {
    font-size: 14px;
    font-weight: 500;
}

/* plugin header */
.card-plugin .header {
    display: flex;
}

.card-plugin .header .icon {
    min-width: 64px;
    height: 64px;
    background: var(--primary-main);
    border-radius: 10%;
    overflow: hidden;
}

.card-plugin .header .icon i {
    font-size: 32px;
    padding: 16px;
}

.card-plugin .header .icon img {
    width: 64px;
    height: 64px;
}

.card-plugin .header .title {
    padding-left: 1.25rem;
    height: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-plugin .header .plugin-name a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 110%;
    height: 115%;
    max-height: 2.8rem;
    color: var(--secondary-main);
}

.card-plugin .header .plugin-author {
    white-space: nowrap;
}

/* plugin content */
.card-plugin .content {
    flex-grow: 1;
}

.card-plugin .content p {
    font-size: 1.1rem;
    line-height: 150%;
    max-height: 8.2rem;
    margin: 1rem 0 0 0;
    overflow: hidden;
    height: 100%;
}

/* plugin buttons */
.card-plugin .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.card-plugin .buttons .comments_counter .icon {
    font-size: 1.2rem;
    margin-top: -0.2rem;
    display: inline-block;
    vertical-align: middle;
}

.card-plugin .buttons {

}

@media only screen and (max-width: 1300px) {
    .card-plugin {
        height: 20rem;
    }
}