:root {
    --primary-main: #FFFFFF;
    --primary-darker: #EEEEEE;
    --secondary-main: #000000;
    --accent-main: #26A69A;
}

/* mulish-regular - cyrillic_latin */
@font-face {
    font-display: fallback;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/mulish-v13-cyrillic_latin-regular.woff2) format('woff2');
}

/* mulish-500 - cyrillic_latin */
@font-face {
    font-display: fallback;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/mulish-v13-cyrillic_latin-500.woff2) format('woff2');
}

/* mulish-600 - cyrillic_latin */
@font-face {
    font-display: fallback;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/mulish-v13-cyrillic_latin-600.woff2) format('woff2');
}

aside, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    aside, main, footer {
        padding-left: 0;
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
                 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.favicon {
    width: 16px;
    height: 16px;
    margin: 2px;
    vertical-align: top;
}

.emphase {
    background: #f5f5f5;
    padding: 0.3em 0.4em;
    margin: 2px 4px 0 4px;
    display: inline-block;
    color: #0081bf;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid #eee;
}

.emphase:hover {
    background: #eee;
}

code {
    font-size: 0.9em;
}

strong {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
}

.container {
    margin:0 auto;
    max-width: 1920px;
    width: 95%;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

footer i.medium {
    line-height: 1.3em;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.telegram-see-more {
    margin-top: -8px;
    margin-left: 10px;
}

@media only screen and (max-width: 550px) {
    .telegram-see-more {
        margin: 15px 0 30px;
        display: block;
    }
}

.fullwidth-image {
    max-width: 100%;
    height: auto;
}
.changelog-header {
    display: inline-block;
    margin-right: 1em;
    border-bottom: 5px solid #26a69a;
}
.changelog-body h1 { font-size: 1.5em }
.changelog-body h2 { font-size: 1.4em }
.changelog-body h3 { font-size: 1.3em }
.changelog-body h4 { font-size: 1.2em }
.changelog-body h5 { font-size: 1.1em }

.changelog-body ul:not(.browser-default) > li {
    list-style-type: square;
    margin-left: 1.2em;
}

.tgme_widget_message {
    max-width: 700px;
    margin: auto;
}

.hr {
    height: 3px;
    background: #eaeaea;
    margin: 1.5rem 0;
}

.card-panel {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 3px 5px #eee;
}

.top_zero {
    margin-top: 0;
}

table.striped > tbody > tr:nth-child(2n+1) {
    background-color: #eaeaea;
}

#modal_iitc_fdroid_repo {
    max-width: 700px;
}

#modal_iitc_fdroid_repo .qr-code {
    width: 100%;
    border: 1px solid #eee;
}

#modal_iitc_fdroid_repo .fingerprint {
    color: #000000;
    font-weight: bold;
    font-size: 13px;
    background: #f3f3f3;
    border: 1px solid #eee;
}

.spacer {
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h4 {
    font-size: 2rem;
}
