@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}



header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a.sidenav-trigger.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    top: 18px;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

a.sidenav-trigger.top-nav i {
    font-size: 32px;
}

#index-banner {
    border-bottom: 1px solid rgba(0,0,0,0.14);
    background: #0e3d4e url("../img/background.jpg");
    background-size: cover;
    color: white;
}

#index-banner .light {
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.8rem;
}

.header {
    font-weight: 300;
    font-size: 3.0rem;
    line-height: 110%;
    text-shadow: 0 0 20px #000;
}

.container {
    margin:0 auto;
    max-width:1280px;
    width:90%
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.header sup {
    font-size: 35%;
    top: -1.75em;
}

.carousel {
    margin-top: 3em;
    margin-bottom: 4em;
}

.carousel.carousel-slider .carousel-item {
    width: auto;
}

.carousel .carousel-item {
    height: 100%;
    width: auto;
}

.carousel img {
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -o-user-select:none;
      user-select:none;
      pointer-events:none
}

.carousel img::selection {
    background: transparent;
}

footer i.medium {
    line-height: 1.3em;
}

.telegram-icon {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.sidenav-download-button {
    cursor: default;
}

.sidenav-download-submenu li {
    background: rgba(0,0,0,0.05);
}

.sidenav-download-submenu li a {
    padding-left: 50px;
}

.sidenav .active {
    background-color: rgba(0,0,0,0.05);
}

#logo-container {
    height: 100px;
    background: black;
    text-align: center;
    padding: 20px;
}

#front-page-logo {
    height: 100%;
    pointer-events: none;
}
.fullwidth-image {
    max-width: 100%;
    height: auto;
}
.changelog-header {
    display: inline-block;
    margin-right: 1em;
}

.collapsible-body {
    font-weight: 300;
}

.tgme_widget_message {
    max-width: 700px;
    margin: auto;
}

/* plugins category */
.plugins_container .card-content, .plugins_container .card-image .card-title {
    padding: 24px 18px;
}

.plugins_container .card-title {
    font-size: 16px;
    font-weight: 500;
}

.plugins_category_wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.card-second-icon.halfway-fab {
    right: 78px;
}

.card .card-image {
    background-size: cover;
    background-color: #0e3d4e;
}

.card .card-shadow {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(14,61,78,0.6) 0%, rgba(14,61,78,0.3) 100%);
}

.plugins_container .card-image .card-title {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card-plugin-id {
    display: block;
    line-height: 1.2em;
}

.plugins_container .grid-item {
    width: 25%;
}
@media only screen and (max-width: 1200px) {
    .plugins_container .grid-item {
        width: 33%;
    }
}
@media only screen and (max-width: 600px) {
    .plugins_container .grid-item {
        width: 50%;
    }
}
@media only screen and (max-width: 400px) {
    .plugins_container .grid-item {
        width: 100%;
    }
}


.plugins_category {
    background-color: #eaeaea;
    margin-bottom: 2em;
}

.plugins_category .category_name, .plugins_category .category_description {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0 12px;
}

.plugins_category .category_name {
    display: inline-block;
    text-transform: uppercase;
    color: #0d3d4e;
    border-bottom: 2px solid #0d3d4e;
}

.plugins_category .category_description {
    display: inline;
    color: #444;
}